#dashboard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: goldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");

  @media only screen and (min-width: 1025px) {
    height: 480px;
    margin: 150px 50px 0px 50px;
    padding: 50px;
  }

  @media only screen and (max-width: 1024px) {
    width: 100vw;
    height: 520px;
    padding-top: 120px;
  }
}

#display-name {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

  span {
    font-weight: 300;
  }
}